# Python/Django
venv/
*.pyc
__pycache__/
db.sqlite3
.env

# Node/Angular
node_modules/
dist/
.angular/

# IDE / OS
.vscode/
.idea/
.DS_Store

*.mov
*.mp4
*.avi
*.mkv
*.webm

# Media uploads (User generated content)
backend/media/*.mov
